.parent{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 7px;
  max-width: 1208px;
  margin: 0 auto;
  border: 2px blue dotted;
}

.child{
  background-color: orange;
  border: 2px solid black;
  border-radius: 12px;
  padding: 15px 5px;
  font-family: New Times Roman;
    justify-content: center;
}

.child:nth-child(25){
  grid-column-start: 5;
}

@media(max-width: 1201px){
  .parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .child:nth-child(25){
    grid-column-start: auto;
  }
}
