.parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 <!-- grid-template-columns: repeat(auto-fit, minmax(90px,1fr)); -->
  gap: 7px;
  max-width: 1000px;
  margin: 0 auto;
  border: 3px blue dotted;
}

.child{
  background-color: orange;
  border: 2px solid #f0f4f8;
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  font-family: New Times Roman;
  <!--box-sizing: border-box;
  font-size: 14px;-->
}

@media(max-width: 1201px){
  .parent{
    grid-template-columns: repeat(12, 1fr);
    justify-self: center;
  }
  .child:nth-child(25){
    grid-column-start: 5;
    grid-column-end: 8;
    justify-self: center;
  }
  
  }

@media(max-width:1080px){
  .parent{
    grid-template-columns: repeat(, 1fr);
  }
  .child:nth-child(25){
    grid-column-start: 1;
    grid-column-end:3;
    justify-self: center;
  }
}

@media (max-width: 650px){
  .parent{
    grid-template-columns: repeat(3, auto);
  }
  .child:nth-child(27){
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: center;
  }
}
